<tr class="even pointer">
  <td class=" "><%= employee.name %></td>
  <td class=" "><%= employee.address %> </td>
  <td class=" "><%= Employee.human_enum_name(:role, employee.role) %></td>
  <td class=" last"><a href="#"><%= t(".detail") %></a>
  </td>
</tr>
