<% notifications.each do |notification| %>
  <li>
    <div class="message_wrapper">
      <h4 class="heading"><%= t(".trip") %> : <%= link_to load_trip(notification.url_id).name, company_trip_path(notification.company,load_trip(notification.url_id)) %></h4>
      <blockquote class="message"><%= notification.content %></blockquote>
      <br />
    </div>
  </li>
<% end %>
