<% notifications.each do |notification| %>
  <li class="notify-<%= notification.status %>" id="<%= notification.id %>">
    <div class="message_wrapper">
      <blockquote class="message"><%= link_to notification.content, company_trip_path(notification.company,load_trip(notification.url_id), notify_id: notification.id) %></blockquote>
      <br />
    </div>
  </li>
<% end %>
