<li class="nav-item notify-<%= notification.status %>">
  <span class="message">
      <%= link_to notification.content, company_trip_path(notification.company,load_trip(notification.url_id), notify_id: notification.id), class: "dropdown-item" %>
  </span>
</li>
