<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= t(".notifications") %></h3>
      </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h4>Recent Activity</h4>
                <!-- end of user messages -->
                <ul class="messages">
                  <%= render partial: "notifications/notification_list", locals: {notifications: @notifications} %>
                </ul>
                <!-- end of user messages -->
                <%= paginate @notifications %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
